.carouselContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}

.window {
  overflow: hidden;
  width: 100%;
  margin: 0 10px;
}

.track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.item {
  padding: 0;
}

.card {
  background: #476391;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  /* border: 5px solid #fff; */
}

.button {
  background: #1f2937;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 1400px) {
  .carouselContainer {
    max-width: 800px;
  }
}

@media screen and (max-width: 1280px) {
  .carouselContainer {
    max-width: 650px;
  }
}

@media screen and (max-width: 1150px) {
  .carouselContainer {
    max-width: 900px;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 950px) {
  .carouselContainer {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .carouselContainer {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .carouselContainer {
    max-width: 400px;
    margin: 0 auto;
  }
}
