.category {
  padding: 20px;
}

.hdr,
.intro {
  margin-bottom: 20px;
}

.catHdr {
  display: flex;
}

.amt {
  color: #555;
  flex-grow: 1;
}

/* .price {
  margin: 10px 0 20px;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid red;
} */

.pageCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageCont > div:first-child {
  flex-grow: 1;
  text-align: center;
}
