.categoryItems {
  flex-grow: 1;
}

.items {
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  display: flex;
}

.item {
  text-align: center;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 190px;
  max-width: 240px;
  height: 305px;
  padding: 5px 15px;
  display: flex;
  position: relative;
}

.item h2 {
  height: 47px;
  overflow: hidden;
  font-size: 18px;
  font-weight: normal;
}

.item img {
  margin: 0 auto;
  display: block;
  padding-top: 5px;
  width: 160px;
  height: 160px;
}

.item button img {
  width: 24px;
  height: 24px;
  display: inline-block;
}
