.filterCont {
  margin-right: 30px;
}

.filters {
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  padding: 5px 15px;
  margin-right: 10px;
  display: inline-block;
}

.filters:hover {
  border: 1px solid #999;
}

.selected {
  background-color: #9c0388;
  color: #fff;
}
