.categoryList {
  display: flex;
  flex-wrap: wrap;
}

.table {
  display: table;
  width: 100%;
  text-align: left;

  border-radius: 6px;
}

.row {
  display: table-row;
}

.col {
  display: table-cell;
  padding: 5px;
}
