.grid {
  columns: 10rem;
  gap: 1rem;
  counter-reset: grid;
}

.item + .item {
  margin-top: 1rem;
}

.item {
  break-inside: avoid;
  aspect-ratio: 4 / 3;
  background: pink;
  padding: 1rem;
  border-radius: 0.75rem;
  text-transform: capitalize;
}

.item::before {
  /* counter-increment: grid;
  content: counter(grid); */
}

.item:nth-child(7n) {
  aspect-ratio: 1;
  background: #0d1117;
  color: #e4e6eb;
}

.item:nth-child(7n - 1) {
  aspect-ratio: 4 / 5;
  background: lightblue;
}

.item:nth-child(7n -2) {
  aspect-ratio: 8 / 6;
  background: #476391;
  color: #fff;
}

.item:nth-child(7n -3) {
  aspect-ratio: 7 / 5;
  background: #e4e6eb;
  color: #0d1117;
}

.item:nth-child(7n -4) {
  aspect-ratio: 6 / 5;
  background: #8b949e;
}

.item:nth-child(7n -5) {
  aspect-ratio: 6 / 5;
  background: #476391;
  color: #fff;
}

.item:nth-child(7n -6) {
  aspect-ratio: 6 / 5;
  background: lightyellow;
}
