.sortCont {
  border: 1px solid #d3d3d3;
  display: inline-block;
}

.sortBy {
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
  font-size: 16px;
  padding: 5px;
  border: 1px solid #f6f6f6;
}
