.manageNav {
  min-width: 160px;
  /*  background-color: #555;
 padding: 0 20px;
  margin-bottom: 20px; */
  flex-grow: 1;
  border: 1px solid #d3d3d3;
}

.manageNav li:first-child {
  /* background-color: rgb(8, 158, 8);
  border-radius: 16px; */
  color: rgb(8, 158, 8);
}

.manageNav li:first-child span {
  /* font-size: 24px; */
  display: inline-block;
  margin-right: 5px;
}

.manageNav li a {
  padding: 5px;
  cursor: pointer;
  display: block;
}

.manageNav li a:hover {
  color: #555;
}

.row,
.navItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .navItems {
} */

.burger {
  cursor: pointer;
  position: absolute;
  background-color: var(--background);
  color: var(--filter-text);
  padding: 2px;
  font-size: 1rem;
  font-weight: normal;
  width: 180px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .burger {
    position: static;
    display: block;
    width: 100%;
  }

  .manageNav {
    text-align: center;
  }

  .manageNav li:first-child {
    flex-grow: 0;
  }
}
